<mat-card appearance="outlined" >
  <mat-card-content [ngStyle]="{ 'color': 'black', 'text-align': 'center', 'font-size': '20px', 'background-color': 'white'}">
    {{title}}
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content [ngStyle]="{ 'background-color': 'white', 'display': 'flex', 'justify-content': 'center', 'align-items': 'center', 'height': '100px' }">
    <button mat-raised-button color="primary" (click)="openForm()">
      Abrir Formulario
    </button>
  </mat-card-content>
</mat-card>